<div class="bg-white p-6 rounded-lg shadow-md w-1/2 mx-2 text-center">
  <h2 class="text-2xl font-semibold"><%= car.brand %> <%= car.model %></h2>
  <img src="<%= car.image_url %>" alt="<%= car.brand %> <%= car.model %>" class="w-full h-64 object-cover rounded-lg mb-4">
  <p class="text-lg text-gray-600 mb-2"><strong>Year:</strong> <%= car.year %></p>
  <p class="text-lg text-gray-600 mb-2"><strong>Fuel:</strong> <%= car.fuel %></p>
  
  <!-- Add ID to the vote count -->
  <p class="text-lg text-gray-600 mb-2">
    <strong>Vote Count:</strong> 
    <span id="vote-count-<%= car.id %>"><%= car.votes_count || 0 %></span>
  </p>

<%= button_to "Vote for This Car", vote_battle_battles_path(car.id), method: :post, remote: true, class: "vote-btn bg-blue-500 text-white py-2 px-6 rounded-lg hover:bg-blue-600 transition-all mt-4", data: { car_id: car.id } %>
</div>