  <% if top_cars.any? %>
    <% top_cars.each_with_index do |car, index| %>
      <div class="bg-white p-4 rounded-lg shadow-md text-center relative mb-4">
        <!-- Floating medal icons based on the position -->
        

         <%= link_to "#{car.brand} #{car.model}", car_path(car), class: "text-xl font-semibold" %>

        <%= link_to image_tag(car.image_url, alt: "#{car.brand} #{car.model}", class: "w-full h-40 object-cover rounded-lg mb-2"), car_path(car) %>
        <p class="text-lg text-gray-600 mb-2"><strong>Votes:</strong> <%= car.votes_count || 0 %></p>
        <% if index == 0 %>
          <img src="<%= asset_path('medal.png') %>" alt="Gold Medal" class="absolute top-4 right-4 w-16 h-16">
        <% elsif index == 1 %>
          <img src="<%= asset_path('medal (1).png') %>" alt="Silver Medal" class="absolute top-4 right-4 w-16 h-16">
        <% elsif index == 2 %>
          <img src="<%= asset_path('medal (2).png') %>" alt="Bronze Medal" class="absolute top-4 right-4 w-16 h-16">
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p class="text-lg text-gray-600 text-center">No cars have votes yet!</p>
  <% end %>
