<%= form_with model: [@car, @review], local: false do |form| %>
  <div class="mb-4">
    <%= form.label :comment, class: 'block text-gray-700' %>
    <%= form.text_area :comment, class: 'mt-1 block w-full border rounded-md p-2 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50' %>
  </div>
  <div class="mb-4">
    <%= form.label :rating, class: 'block text-gray-700' %>
    <%= form.number_field :rating, class: 'mt-1 block w-full border rounded-md p-2 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50', min: 1, max: 5 %>
  </div>
  <%= form.submit 'Submit Review', class: 'mt-2 bg-blue-500 text-white p-2 rounded hover:bg-blue-600 cursor-pointer' %>
<% end %>