<div class="container mx-auto p-4 flex flex-col md:flex-row"> <!-- Change here -->
  <div class="w-full md:w-1/5 p-4" id="filters-menu"> <!-- Cars List Section -->
    <h1 class="text-5xl font-bold text-gray-800">Cars List</h1>
    <p class="text-lg text-gray-400 mb-5 border-b-2 pb-3">Explore your collection!</p>

    <div class="bg-gray-200 p-4 mb-2 md:hidden">
    <!-- Filter Button -->
    <button id="filter-toggle" class="w-full bg-blue-500 text-white p-2 rounded">Toggle Filters</button>
    </div>

    <div id="filter-section" class="w-full md:w-4/5 hidden md:block lg:block"> <!-- Filter Section -->
      <h2 class="text-2xl font-bold mb-2">Filters</h2>
      <form action="/cars" method="get">
        <div class="mb-4">
          <label class="block text-gray-700">Manufacturer</label>
          <select name="brand" class="w-full p-2 border border-gray-300 rounded">
            <option value="">All</option>
            <option value="PORSCHE" <%= "selected" if params[:brand] == "PORSCHE" %>>Porsche</option>
            <option value="LAMBORGHINI" <%= "selected" if params[:brand] == "LAMBORGHINI" %>>Lamborghini</option>
            <option value="FERRARI" <%= "selected" if params[:brand] == "FERRARI" %>>Ferrari</option>
            <option value="BMW" <%= "selected" if params[:brand] == "BMW" %>>BMW</option>
            <option value="AUDI" <%= "selected" if params[:brand] == "AUDI" %>>Audi</option>
            <option value="MERCEDES" <%= "selected" if params[:brand] == "MERCEDES" %>>Mercedes-Benz</option>
            <option value="JAGUAR" <%= "selected" if params[:brand] == "JAGUAR" %>>Jaguar</option>
            <option value="MASERATI" <%= "selected" if params[:brand] == "MASERATI" %>>Maserati</option>
            <option value="ROLLS-ROYCE" <%= "selected" if params[:brand] == "ROLLS-ROYCE" %>>Rolls-Royce</option>
            <option value="BUGATTI" <%= "selected" if params[:brand] == "BUGATTI" %>>Bugatti</option>
            <option value="AUDI" <%= "selected" if params[:brand] == "AUDI" %>>Audi</option>
          </select>
        </div>

        <div class="mb-4">
          <label class="block text-gray-700">Fuel Type</label>
          <select name="fuel" class="w-full p-2 border border-gray-300 rounded">
            <option value="">All</option>
            <option value="Gasoline" <%= "selected" if params[:fuel] == "Gasoline" %>>Gasoline</option>
            <option value="Diesel" <%= "selected" if params[:fuel] == "Diesel" %>>Diesel</option>
            <option value="Electric" <%= "selected" if params[:fuel] == "Electric" %>>Electric</option>
            <option value="Hybrid" <%= "selected" if params[:fuel] == "Hybrid" %>>Hybrid</option>
          </select>
        </div>

        <div class="mb-4">
          <label class="block text-gray-700">Year</label>
          <select name="year" class="w-full p-2 border border-gray-300 rounded">
            <option value="">All</option>
            <% (2015..2024).each do |year| %>
              <option value="<%= year %>" <%= "selected" if params[:year] == year.to_s %>><%= year %></option>
            <% end %>
          </select>
        </div>

        <button type="submit" class="bg-blue-500 text-white p-2 mt-2 rounded w-full">Filter</button>
      </form>
    </div>
  </div>

<ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 w-full">
  <% @cars.shuffle.each do |car| %> <!-- Use shuffle to randomize the cars array -->
    <li class="card bg-white shadow rounded-lg p-4 transition-transform transform hover:scale-105 hover:shadow-xl hover:bg-gray-100">
      <a href="/cars/<%= car.id %>">
        <img src="<%= car.image_url %>" alt="<%= car.brand %> <%= car.model %>" class="w-full h-40 object-cover rounded-t-lg mb-2">
        <h2 class="text-xl font-semibold"><%= "#{car.brand} #{car.model}" %></h2>
        <p class="text-gray-500">Year: <%= car.year %></p>
        <p class="text-gray-500">VIN: <%= car.vin %></p>
        <p class="text-gray-500">Fuel: <%= car.fuel %></p>
      </a>
    </li>
  <% end %>
</ul>
</div>
