<div class="container mx-auto p-6">
  <div class="max-w-5xl mx-auto">
    <div class="card bg-white shadow rounded-lg p-4 transition-transform transform hover:scale-105 hover:shadow-xl hover:bg-gray-100 mx-auto" style="max-width: 1000px; height: 600px;">
      <a href="/cars/<%= @car.id %>" style="display: block; height: 530px;">
        <h1 class="text-xl text-center font-semibold pb-2"><%= @car.brand %> <%= @car.model %></h1> 
        <img src="<%= @car.image_url %>" alt="<%= @car.brand %> <%= @car.model %>" class="w-full h-full object-cover rounded-lg mb-2">
      </a>
    </div>

<div class="ajax-favourites-form-pick mt-4 w-full"> 
<%= link_to 'Pick Another Car', pick_a_car_path, remote: true, class: 'w-full bg-blue-500 text-white p-2 rounded block hover:bg-blue-600 text-center' %>

</div>

  </div>
</div>
