<div class="container mx-auto p-4 ">
  <div class="max-w-5xl mx-auto">
    <div class="card bg-white shadow rounded-lg p-4 transition-transform transform hover:scale-105 hover:shadow-xl hover:bg-gray-100 mx-auto" style="max-width: 1000px; height: 600px;">
      <a href="/cars/<%= @car.id %>" style="display: block; height: 530px;">
        <h1 class="text-xl text-center font-semibold pb-2"><%= @car.brand %> <%= @car.model %></h1> 
        <img src="<%= @car.image_url %>" alt="<%= @car.brand %> <%= @car.model %>" class="w-full h-full object-cover rounded-lg mb-2">
      </a>
    </div>

<div class="ajax-favourites-form-pick mt-4 w-full"> 
  <%= link_to 'Pick Another Car', pick_a_car_path, class: 'w-full bg-blue-500 text-white p-2 rounded block hover:bg-blue-600 text-center' %> 

  <% if @favourites.any? { |f| f.car_id != @car.id } %>
      <%= link_to "Add to Favourites", class: "mt-2 bg-green-500 w-full text-white p-2 rounded block text-center hover:bg-green-600 cursor-pointer" %>
  <% end %>
</div>

  </div>
</div>
